#{extends 'main.html' /}
#{set title:'Blog' /}

#{ifnot events}
<div class="hentry p1 post publish">
	<div class="entry-date"></div>
	<h2 class="entry-title"><a href="#">No events</a></h2>
	<div class="entry-content">No events</div>
</div>
#{/ifnot}
<ul id="qe">
#{list items:events, as:'event'}
	<li id="${event.id}">
		<span>${event.happensAt.format('MMM dd')}&nbsp;<a href="/-/${event.slug}">${event.title}</a>&mdash;&nbsp;${event.description}</span>
		<button class="rsvp" data-id="${event.id}" data-slug="${event.slug}">RSVP!</button>
	</li>
#{/list}
</ul>

<div class="hentry p1 event publish" id="create">
	<h2>Add event</h2>
	<label for="qe-title">Title</label><br><input type="text" id="qe-title"><br>
	<label for="qe-location">Location</label><br><input type="text" id="qe-location"/><br>
	<label for="qe-description">Description</label><br><input type="text" id="qe-description"/><br>
	<label for="qe-happensAt">Happens at</label><br><input type="text" id="qe-happensAt"/><br>
	<button id="createEvent">Create!</button>
</div>
<script>
	$('.rsvp').click(function() {
		$.post('@{createRSVP()}', {
			eventId: $(this).attr('data-id'),
			username: prompt('Twitter username?')
			}, function(rsvp) {
				window.location = '/-/' + rsvp.event.slug;
			}, 'json'
		);
	});
	$('#createEvent').click(function() {
		$.post('@{createEvent()}', { 
			title: $('#qe-title').val(), 
		    location: $('#qe-location').val(),
			description: $('#qe-description').val(), 
			happensAt: $('#qe-happensAt').val()
		}, 
		function(event) {
			$('#qe').prepend(
				'<li id="' + event.id + '">'+
					'<span>' + event.happensAt + '&nbsp;<a href="/-/' + event.slug + '">' 
					+ event.title + '</a>&mdash;&nbsp;' + event.description + '</span>' +
					'<button class="rsvp" data-id="' + event.id + '" data-slug="' + event.slug + '">RSVP!</button>' +
				'</li>');
			window.location = '/';
		}, 'json');
	});
</script>


